/* CSS Variables */
:root {
    --primary-font: ;
    --secondary-font: ;
    --background-color: #0a0f24;
    --primary-color: ;
    --hightlight-color: ;
    --secondary-highlight-color: ;
}

/* -------------- Base.html styles -------------- */

/* Custom glow background */

body {
  background-color: var(--background-color);
  position: relative;
  color: white;
}

.background {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1; 
}

.glow {
  position: absolute;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  filter: blur(60px);
  opacity: 0.7;
  animation: pulse 7s ease-in-out infinite;
}

.glow-blue {
  background: #4aa8ff;
  right: -20vw;
  bottom: 10vh;
}

.glow-pink {
  background: #d46aff;
  top: -10vw;
  left: -15vw;
}

@keyframes pulse {
  0%, 100% { transform: scale(1); opacity: 0.7;}
  50% { transform: scale(1.4); opacity: 0.9;}
}

/* Notification styles */

.notification {
  margin-top: 80px;
  max-width: 448px;
  width: 100%;
  background: linear-gradient(
    90deg, #084431 0%, #232631 40%
  );
  color: #898c97;
}

.notification-icon {
  height: 48px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #0a4f3a;
  color: #26f2b1;
  font-size: 1rem;
}

.notification.error {
  background: linear-gradient(
    90deg, #480607 0%, #232631 40%
  );
}

.notification.error .notification-icon {
  color: #ff5c5a;
  background: #590e0e;
}

.alert.fade {
  transition: opacity 1s ease; 
}

/* Header */

.navbar-custom {
    background-color: rgb(0, 0, 0, 0.7);
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.navbar-custom .navbar-brand {
  font-size: 1rem;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  font-size: 0.8rem;
}

/* -------------- landing.html styles -------------- */
.hero {
  height: 70vh;
}

.hero-title {
  font-size: clamp(2.5rem, 6vw, 5rem); /* min 2.5rem, fluid 6vw, max 5rem */
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.hero-subtitle {
  font-size: clamp(1.25rem, 2.5vw, 2rem); /* min 1.25rem, fluid 2.5vw, max 2rem */
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.content-section {
  background: rgb(10, 15, 36, 0.7);
}

.content-section:hover {
  background: rgb(10, 15, 36, 0.95);
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(74, 168, 255, 0.2), 
              0 0 40px rgba(212, 106, 255, 0.15);
}

.content-icon {
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 150px;
  box-shadow: 0 0 25px rgba(74, 168, 255, 0.2), 
              0 0 40px rgba(212, 106, 255, 0.15);
}

.content-icon > i {
  font-size: 3rem;
}

.fa-seedling {
  color: #31c500;
}

.fa-list-check {
  color: #ff00d3;
}

.fa-chart-simple {
  color: #00c5b4;
}

/* -------------- Dashboard.html styles -------------- */

.welcome {
  text-transform: uppercase;
  color: white;
}

.link {
  text-decoration: none;
}

.category-card {
  aspect-ratio: 5/4;
  background-color: rgba(142, 142, 142, 0.7);
  border-radius: 10px;
  border: 1px solid white;
}

.card-title {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

/* -------------- Category_detail pages -------------- */

.log-title {
  color: #006eff;
  text-transform: capitalize;
}

.icon-btn-style {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.icon-width {
  min-width: 42.19px;
}

.grow:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.3);
}